ul {
	background-color: #9a3d74; text-align: 
}
li {
	font-size: 40px; font-family: Impact; color:#8bccb0; text-indent: 
}
div{
	background-color: #8bccb0
}
h1 {
	font-size: 80px; font-family: fantasy; color: #96376f; border:
	
}